.post {
  max-width: 680px;
}

.image {
  width: 100%;

  img {
    max-width:100%;
    max-height:100%;
  }
}

.date {
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
  opacity: 0.3;
  letter-spacing: 0.2px;
}

.title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0px;
  opacity: 0.8;
  margin-bottom: 16px;
}

.preview {
  font-size: 16px;
  line-height: 26px;
  font-weight: 200;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
